<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Comunic is everywhere!</h2>
                <p>Use Comunic in your browser or on Android!</p>
                <div class="badges">
                    <a class="btn btn-outline btn-xl" href="{{ site.app_url }}">Web Application</a> 
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
