<footer>
	<div class="container">
		<p>
			&copy; 2018 Comunic. All Rights Reserved.<br />
			&copy; 2016 theme based on <a rel="nofollow" target="_blank" href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap</a>.<br />
		</p>
		<ul class="list-inline">
			<li>
				<a href="{{ site.base_url }}/about/privacy/">Privacy</a>
			</li>
			<li>
				<a href="{{ site.base_url }}/about/terms/">Terms</a>
			</li>
			<li>
				<a href="{{ site.base_url }}/about/legal/">Legal</a>
			</li>

			<li>
				<a href="{{ site.base_url }}/about/licence/">Licence</a>
			</li>
		</ul>
	</div>
</footer>
