<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
	<!-- Navbar -->
	{% include nav.html %}

	<!-- Main home block page -->
	{% include header.html %}

	<!-- Link to web app / android app -->
	{% include call-to-action.html %}

	<!-- Comunic features -->
	{% include services.html %}

	<!-- Quote -->
	{% include quote.html %}

	<!-- Other features link -->
	{% include feature.html %}
	
	{% include aside.html %}
	{% include contact.html %}
	{% include scripts.html %}
</body>

</html>
