<!DOCTYPE html>
<html lang="en">

{% include common/head.html %}

<body id="page-top">
	<!-- Navbar -->
	{% include common/nav.html %}

	<!-- Main home block page -->
	{% include home/header.html %}

	<!-- Comunic features -->
	{% include home/services.html %}

	<!-- Link to web app / android app -->
	{% include home/call-to-action.html %}

	<!-- Other features link -->
	{% include home/feature.html %}

	<!-- Quote -->
	{% include home/quote.html %}
	
	<!-- Donate feature -->
	{% include home/donate-feature.html %}

	
	{% include common/contact.html %}

	<!-- End of file scripts -->
	{% include common/scripts.html %}
</body>

</html>
