<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Comunic, new social network that respects your privacy.</h1>
                        <a href="{{ site.app_url }}create_account" class="btn btn-outline btn-xl page-scroll">Create an account now !</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header>
