<header class="developper-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Help us building Comunic or setup your own server.</h1>
                        <a href="#" class="btn btn-outline btn-xl page-scroll">Help us</a>
                        <a href="{{ site.baseurl }}/developper/install" class="btn btn-outline btn-xl page-scroll">Install Comunic</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header>