<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Help us building Comunic or setup your own server.</h1>
                        <a href="http://devweb.local/comunic/v2/create_account" class="btn btn-outline btn-xl page-scroll">Create an account now !</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header>